<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:flex-shrink-0">
      <img class="h-48 w-full object-cover md:w-48" src="https://placehold.jp/500x500.png" alt="Man looking at item at a store">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Case study</div>
      <%= link_to 'Finding customers for your new business', tests_path, class: "block mt-1 text-lg leading-tight font-medium text-black hover:underline" %>
      <p class="mt-2 text-gray-500">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
    </div>
  </div>
  <div class="md:flex">
    <ul>
      <li>request.env['HTTPS']: <%= request.env['HTTPS'] %></li>
      <li>request.env['HTTP_X_FORWARDED_SSL']: <%= request.env['HTTP_X_FORWARDED_SSL'] %></li>
      <li>request.env['HTTP_X_FORWARDED_SCHEME']: <%= request.env['HTTP_X_FORWARDED_SCHEME'] %></li>
      <li>request.env['HTTP_X_FORWARDED_PROTO']: <%= request.env['HTTP_X_FORWARDED_PROTO'] %></li>
      <li>request.env["rack.url_scheme"]: <%= request.env["rack.url_scheme"] %></li>
    </ul>
  </div>
</div>
